/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * GENERIC
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * COMPONENTS
 * #header............The main page header.
 * #footer............The main page footer.
 * buttons..............Button elements.
 *
 * SECTIONS
 *
 * MODIFIER CLASSES
 *
 */

/*----------------------------------------------------*\
 # SETTINGS
\*----------------------------------------------------*/

/* GLOBAL VARIABLES */
/* Colors */
html {
  --bg-color: #2d3950;
  --light-color: #00a28d;
  --font-color: whitesmoke;
  --completed-color: green;
}
/*------------------------------------*\
GENERIC
\*------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*------------------------------------*\
BASE
\*------------------------------------*/

/* body */
/* headings */
/* paragraphs */

body {
  font-family: "sans-serif";
  background-color: var(--bg-color);
  color: var(--font-color);
}

/*------------------------------------*\
 # NAVIGATION
\*------------------------------------*/

/*------------------------------------*\
 # SECTION - GENERIC
\*------------------------------------*/
/* styling of different sections of the page*/
.h1 {
  text-align: center;
}
/*----------------------------------------------------*\
 # To-do input form - to add new tasks
\*----------------------------------------------------*/
.input-form {
  display: flex;
  min-width: 60vw;
  background-color: var(--light-color);
  border-radius: 5%;
}
.todo-output {
  min-width: 60vw;
  background-color: var(--light-color);
  justify-content: flex-start;
}
.main-section {
  background-color: var(--light-color);
  border-radius: 5%;
}

/* COMPLETED TASKS CSS*/
.completed-text {
  color: var(--completed-color);
}
/*----------------------------------------------------*\
 # TOGGLE
\*----------------------------------------------------*/
.toggle-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.hide {
  display: none;
}

/* The switch - the box around the slider */
.hide-done {
  display: block;
  height: 34px;
  position: relative;
  width: 60px;
}

/* Hide default HTML checkbox*/
.hide-done input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  background-color: #cccccc;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  cursor: pointer;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #d55b3e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*------------------------------------*\
  MODIFIER CLASSES
\*------------------------------------*/

/* 
* We can play around with the sizing of these, 
* I've just added them in so they are ready and waiting when 
* we need them.
*/

/* width modifier classes */

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 20vw;
}

.width-lg {
  max-width: 60rem;
}

.width-md {
  max-width: 40rem;
}

.width-sm {
  max-width: 20rem;
}

/* stack modifier classes */

.stack-lg > * + * {
  margin-top: 3rem;
}

.stack-md > * + * {
  margin-top: 1.2rem;
}

.stack-sm > * + * {
  margin-top: 0.5rem;
}
